@using Moguls.Live.Web.v2.Data
@inherits LiveResultDualComponent
@if (Results == null)
{
    <div style="margin-bottom: 50px;">
        <div style="width: 200px;">
            <div class="mb-3">
                <label class="form-label">Tävling</label>
                <input class="form-control" style="height: 50px;" @bind="Id" type="text" />
            </div>
        </div>
        <div>
            <button class="btn btn-primary" @onclick="Load">Hämta vald tävling</button>
        </div>
    </div>
}
else
{
    <div style="margin-bottom: 300px; width: 1300px; float: right;">
        <div style="float: left;">

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Bib</th>
                        <th style="width: 400px;">Name</th>
                        <th>Country</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Results.Where(x => x.IsBlue))
                    {
                        <tr style="font-size: 20px; background-color: lightblue">
                            <td align="center">
                                <b>@r.Place</b>
                                @CrownBearer(r, r.IsBlue)
                            </td>
                            <td><b>@r.Bib</b></td>
                            <td>
                                <b>@r.Name <img src="https://flagsapi.com/@r.NationalityFlag/shiny/32.png"></b>
                            </td>
                            <td><b>@r.Nationality</b></td>
                            <td><b>@r.Score</b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="float: right;">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Bib</th>
                    <th style="width: 400px;">Name</th>
                    <th>Country</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var r in Results.Where(x => !x.IsBlue))
                {
                    <tr style="font-size: 20px; background-color: lightcoral">
                            <td align="center">
                                <b>@r.Place</b>
                                @CrownBearer(r, r.IsBlue)
                            </td>
                        <td><b>@r.Bib</b></td>
                        <td>
                            <b>@r.Name <img src="https://flagsapi.com/@r.NationalityFlag/shiny/32.png"></b>
                        </td>
                        <td><b>@r.Nationality</b></td>
                        <td><b>@r.Score</b></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="width: 200px;">
        <div class="mb-3">
            <label class="form-label">Tävling</label>
            <input class="form-control" @bind="Id" type="text" />
        </div>
    </div>
    <button class="btn btn-primary" @onclick="Load">Ladda om</button>
    <div>
        <span>Uppdaterad senast (UTC): </span>
        <span style="padding-left: 5px;">@LastUpdate.ToLongTimeString()</span>
    </div>
}